.footer {
  background-color: var(--main-color);
  padding: 0.5em 1em;
  color: var(--white);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
}

.footer p {
  opacity: .8;
  font-size: .75em;
}