.nav-logo {
height: 50px;
}

.nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.nav {
  background-color: var(--main-color);
  padding: 0.5em 1em;
}

.cart {
  height: 40px;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav a {
  text-decoration: none;
  color: var(--white);
  font-size: 2em;
  font-weight:500;
}


